*{
	box-sizing: border-box;
}
body{
	font-family: "Roboto", sans-serif;
	background:url("img/fon.png");
}
header{
	background-color:rgba(255, 255, 255, 0.75);
	padding: 25px 0;
	border-bottom: 1px solid white;
	height: 100px;
}
.row:after{
	content:"";
	clear:both;
	display: block;
}
[class*="col-"]{
	float: left;
}
.col{
	float: left;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33%;
}
.col-6{
	width: 50%;
}
.col-9{
	width: 75%;
}
.col-12{
	width: 100%;
}
input[type="search"] {
	outline: none;
	border: none;
    width: 160px;
    height: 37px;
    padding-top:15px;
    background-color: transparent;
}
.submit[type="submit"]{
	width: 30px;
    height: 30px;
    border: none;
    background:url("img/search.png") no-repeat 50% 50% #2c71b8;
}
.search{
	height: 40px;
	width: 200px;
    border: 1px solid #2c71b8;
    margin-left: 25px;
    margin-top: 5px;
}
.search2{
	color:#2c71b8;
	font-size: 21px;
    padding-left:20px;
}
.submit{
	margin-top:4px;
	margin-right:4px;
}
.basket{
	background:url("img/basket.png") no-repeat 50% 50% white;
	width: 40px;
	height: 40px;
	position: relative;
    margin-left: 27px;
    margin-top: 5px;
}

.four{
	background-color:#2c71b8;
	color: white;
	width: 20px;
	height: 20px;
	border:0px solid #2c71b8;
	border-radius:100px;
	text-align: center;
	line-height:20px;
	position: absolute;
	top:-11px;
	left:-11px;
	display: block;
}
.sub-menu{
	display: none;
}
.main-menu > li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.main-menu > li > a{
	display: block;
	text-align:center;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
    font-family: "Times New Roman";
}
.main-menu > li:last-child{
	border-right: 1px solid #2c71b8;
}
.sub-menu > li{
	height: 40px;
	width: 294px;
	background-color: #2c71b8;
}
.sub-menu > li > a{
	display: block;
	text-align:center;
	line-height: 40px;
	text-decoration: none;
	color: white;
}
.logo{
	display: inline;
	text-align: center;
	margin-top:10px;
}
.center{
	width: 1170px;
	margin:0 auto;
}
.st{
	background: url(img/st1.png) no-repeat 85% 60%;
}
.main-menu a:hover{
	background:#2c71b8;
	color:white;
}
.st a:hover{
	background:#2c71b8 url(img/st2.png) no-repeat 85% 60%;
}
.sub-menu a:hover{
	background-color:white;
	color:#2c71b8;	
}
.main-menu > li:hover .sub-menu {
  display: block;
}
/*--------------------------------------------NEXT---------------------------------------------------------*/
.slide{
	height: 400px;
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom:1px solid white;
}
.dtype{
	margin-left: 15px;
	width: 270px;
	height: 840px;
	background-color:rgba(255, 255, 255, 0.2);
	border-right:1px solid white;
}
.Homepage{
	margin-top:30px;
	margin-left:29px;
}
.Homepage2{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.Homepage span:hover{
	text-decoration:underline;
}

.laptops{
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin:30px 0px 60px 29px;
}
.sort li{
	width: 270px;
	height: 40px;
	border: 1px solid white;
	background-color: #2c71b8;
	color:white;
	font-size: 21px;
	line-height: 40px;
	text-indent:20px;
	position: relative;
	z-index: 10;
}
.marg{
	margin-left: 145px;
	margin-top: 35px;
}
.st2{
	background: url(img/st4.png) no-repeat 90% 50%;
}
.sort2{
	display: none;
}
.sort li:hover{
	background-color:white;
	color:#2c71b8;
}
.st2:hover{
	background: url(img/st3.png) no-repeat 90% 50%;
}
.sort li:hover .sort2{
	display: block;
}
/*--------------------------------------------NEXT---------------------------------------------------------*/

.case{
	width: 270px;
	height: 180px;
	background-color:rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid white;
	margin-left:29px;
	text-align: center;
	position:relative;
}
.case img{
	margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.case2{
	width: 270px;
	height: 470px;
	background-color: rgba(44, 113, 184, 0.75);
	border: 1px solid white;
	margin-left:29px;
	margin-bottom: 30px;
}
.chose{
	height: 30px;
	width: 30px;
	background: url(img/chose.png) no-repeat 50% 50%;
	border: 1px solid #2c71b8;
	position: relative;
	left:230px;
	top:10px;
}
.like{
	height: 30px;
	width: 30px;
	background: url(img/like.png) no-repeat 50% 50%;
	border: 1px solid #2c71b8;
	position: relative;
	left:230px;
	top:20px;
}
.chose:hover{
	background:rgba(44, 113, 184, 0.75) url(img/chose2.png) no-repeat 50% 50%;
}
.like:hover{
	background:rgba(44, 113, 184, 0.75) url(img/like2.png) no-repeat 50% 50%;
}
.Device{
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-top:15px;
  padding-left:15px;
}
.Device2{
  font-size: 21px;
  color: rgb(255, 255, 255);
  padding-top:15px;
  padding-left:15px;
  font-weight: lighter;
}
.bold{
	font-weight: bold;
}
.cost{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	padding-top:35px;
	color: rgb(255, 255, 255);
}
.sub{
	font-size: 24px;
	vertical-align: super;
}
.dsubmut[type="submit"]{
	width: 210px;
	height: 50px;
	color: rgb(255, 255, 255);
	background-color: #2c71b8;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 15px;
	font-weight: bold;
}
.dsubmut[type="submit"]:hover{
	background:rgba(255, 255, 255, 0.2);
}
.cart[type="submit"]{
	width: 210px;
	height: 50px;
	color: rgb(255, 255, 255);
	background:#2c71b8 url("img/basket2.png") no-repeat 85% 50% ;
	border: 1px solid white;
	margin-left: 30px;
	margin-top: 15px;
	font-weight: bold;
}
.cart[type="submit"]:hover{
	background:rgba(255, 255, 255, 0.2)url("img/basket2.png") no-repeat 85% 50%;
}
.load{
	text-align: center;
	font-size: 36px;
	color: rgb(255, 255, 255);
	font-weight: lighter;
	margin-bottom:90px;
}
footer{
	background-color:rgba(255, 255, 255, 0.75);
	height: 100px;
}
.foot{
	font-size: 21px;
	color: rgb(44, 113, 184);
	text-align:center;
	line-height:100px;
}