*{
	box-sizing: border-box;
}
body{
	font-family: "Roboto", sans-serif;
	background:url("img/fon.png");
}
header{
	background-color:rgba(255, 255, 255, 0.75);
	padding: 25px 0;
	border-bottom: 1px solid white;
	height: 100px;
}
[class*="col-"]{
	float: left;
}
.col-3{
	width: 25%;
}
.col-6{
	width: 50%;
}
input[type="search"] {
	outline: none;
	border: none;
    width: 160px;
    height: 37px;
    padding-top:15px;
    background-color: transparent;
}
input[type="submit"]{
	width: 30px;
    height: 30px;
    border: none;
    background:url("img/search.png") no-repeat 50% 50% #2c71b8;
}
.search{
	height: 40px;
	width: 200px;
    border: 1px solid #2c71b8;
    margin-left: 25px;
}
.search2{
	color:#2c71b8;
	font-size: 21px;
    padding-left:20px;
}
.submit{
	margin-top:4px;
	margin-right:4px;
}
.basket{
	background:url("img/basket.png") no-repeat 50% 50% white;
	width: 40px;
	height: 40px;
	position: relative;
	display: block;
}
.basket2{
	float: right;
}
.four{
	background-color:#2c71b8;
	color: white;
	width: 20px;
	height: 20px;
	border:0px solid #2c71b8;
	border-radius:100px;
	text-align: center;
	line-height:20px;
	position: absolute;
	top:-11px;
	left:-11px;
	display: block;
}
.sub-menu{
	display: none;
}
.main-menu li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.main-menu a{
	display: block;
	text-align:center;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
    font-family: "Times New Roman";
}
.main-menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.sub-menu li{
	height: 40px;
	width: 294px;
	background-color: #2c71b8;
}
.sub-menu a{
	display: block;
	text-align:center;
	line-height: 40px;
	text-decoration: none;
	color: white;
}
.logo{
	display: inline;
	text-align: center;
}
.center{
	width: 1170px;
	margin:0 auto;
}
/*.transform{
	display: block;
    transform: rotate(90deg);
    position:relative;
    top:-25px;
    left:145px;
    height: 1px;
    width: 1px;
}*/
.row:after{
	content:"";
	clear:both;
	display: block;
}
.main-menu a:hover{
	background-color: #2c71b8;
	color:white;
}
.sub-menu a:hover{
	background-color:white;
	color:#2c71b8;	
}
.main-menu > li:hover .sub-menu {
  display: block;
}

